#heading   {
    text-align: center;
    font-family: URW Chancery L, cursive;
     text-decoration: underline overline;
    font-style:  italic;
    font-size: 25px;
    color: brown;
}
body{
    background-color: lightgray;
}
